html
  head
    title!= title
    link(href='assets/stylesheets/font-awesome.min.css', rel='stylesheet')
  body
    h1!= message
    button.btn
      i.fa.fa-arrow-circle-left
    button
      i.fa.fa-arrow-circle-right
    button
      i.fa.fa-arrow-circle-up
    button
      i.fa.fa-arrow-circle-down
    button
      i.fa.fa-stop

    script(src="assets/javascripts/controller.js")